<%= render "shared/header" %>
<div class='main'>
  <div class='search-bar-contents'>
    
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      
    </form>
  </div>

<div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'ジャンル', "#", class: "genre-list" %></li>
      <li><%= link_to '地域', "#", class: "area-list" %></li>
      <li><%= link_to '楽器', "#", class: "musical-instrument-list" %></li>
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'ソロ投稿', new_solopost_path, class: "band-post-btn"%></li>
      <li><%= link_to 'バンド一覧へ', bandposts_path, class: "solo-index" %></li>
    </ul>
 </div>
</div>
  <%# ソロ一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ソロ一覧</h2>
    <%= link_to '新規投稿', new_solopost_path, class: "subtitle" %>
    <ul class='item-lists'>
<%if @soloposts.present? %>
  <% @soloposts.each do |solopost| %>
    <li class='list'>
        <%= link_to solopost_path(solopost.id) do %>
          
            <div class="item-img-content">
              <video src="<%= rails_blob_path(solopost.video) %>" type="video/mp4" controls ></video>
            </div>
         
          <div class='band-info'>
            <h3 class='band-name'>
              <%= solopost.nickname %>
            </h3>
            <div class='band-info2'>
              <span><%= solopost.genre.name %><span>
              <span><%= solopost.musical_instrument.name %><span>
              <span><%= solopost.area.name %><span>
            </div>
          </div>
        <% end %>
    </li>
  <% end %>
<% else %>
      <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "item-sample.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              バンドを投稿してね！
            </h3>
            <span><%= "ジャンル" %><span>
            <span><%= "募集している楽器" %><span>
            <span><%= "活動地域" %><span>
          </div>
          <% end %>
      </li>
  
<% end %>
  </div>
  <%# /バンド一覧 %>