<%= render "shared/header" %>
<div class='main'>
  <div class='search-bar-contents'>
    
    <%= form_with(url: search_soloposts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ニックネームを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>

  </div>

<div class='nav'>
    <ul class='lists-left'>
      <li class="genre-list" id="genre-list">ジャンル
      </li>
      <li><%= link_to '地域', "#", class: "area-list" %></li>
      <li><%= link_to '楽器', "#", class: "musical-instrument-list" %></li>
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'ソロ投稿', new_solopost_path, class: "band-post-btn"%></li>
      <li><%= link_to 'バンド投稿一覧へ', bandposts_path, class: "solo-index" %></li>
    </ul>
 </div>
</div>
  <%# ソロ一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ソロプレイヤー投稿一覧</h2>
    <ul class='item-lists'>
<%if @soloposts.present? %>
  <% @soloposts.each do |solopost| %>
    <li class='list'>
        <%= link_to solopost_path(solopost.id) do %>
          
            <div class='item-img-content'>
            <%= image_tag solopost.image.variant(resize: '500x500'), class: "item-img" if solopost.image.attached? %>
            </div>
         
          <div class='band-info'>
            <h3 class='band-name'>
              <%= solopost.nickname %>
            </h3>
            <div class='band-info2'>
              <span><%= solopost.genre.name %><span>
              <span><%= solopost.musical_instrument.name %><span>
              <span><%= solopost.area.name %><span>
            </div>
          </div>
        <% end %>
    </li>
  <% end %>
<% else %>
      <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "test-sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              ソロ情報を投稿してね！
            </h3>
            <span><%= "ジャンル" %><span>
            <span><%= "担当している楽器" %><span>
            <span><%= "活動地域" %><span>
          </div>
          <% end %>
      </li>
  
<% end %>
  </div>
  <%# /バンド一覧 %>