<%= render "shared/header" %>
<div class='main'>
  <div class='search-bar-contents'>

    <%= form_with(url: search_bandposts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "バンド名を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    
    
  </div>

<div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'ジャンル', "#", class: "genre-list" %></li>
      <li><%= link_to '地域', "#", class: "area-list" %></li>
      <li><%= link_to '楽器', "#", class: "musical-instrument-list" %></li>
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'バンド投稿', new_bandpost_path, class: "band-post-btn"%></li>
      <li><%= link_to 'ソロ一覧', soloposts_path, class: "solo-index" %></li>
    </ul>
 </div>
</div>
  <%# バンド一覧 %>
  <div class='item-contents'>
    <h2 class='title'>バンド一覧</h2>
    <%= link_to '新規投稿', new_bandpost_path, class: "subtitle" %>
    <ul class='item-lists'>
<%if @bandposts.present? %>
  <% @bandposts.each do |bandpost| %>
    <li class='list'>
        <%= link_to bandpost_path(bandpost.id) do %>
          <div class='item-img-content'>
            <%= image_tag bandpost.image.variant(resize: '500x500'), class: "item-img" if bandpost.image.attached? %>
          </div>
          <div class='band-info'>
            <h3 class='band-name'>
              <%= bandpost.bandname %>
            </h3>
            <div class='band-info2'>
              <span><%= bandpost.genre.name %><span>
              <span><%= bandpost.musical_instrument.name %><span>
              <span><%= bandpost.area.name %><span>
            </div>
          </div>
        <% end %>
    </li>
  <% end %>
<% else %>
      <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "item-sample.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              バンドを投稿してね！
            </h3>
            <span><%= "ジャンル" %><span>
            <span><%= "募集している楽器" %><span>
            <span><%= "活動地域" %><span>
          </div>
          <% end %>
      </li>
  
<% end %>
  </div>
  <%# /バンド一覧 %>